<section class="section">
    <div class="container columns is-centered">
        <div class="is-one-third">

            <h1 class="title is-1">Log In</h1>
            
            <%= form_with url: sessions_path do |f| %>

                <div class="field">
                    <%= f.label :email, class: "label" %>
                    <p class="control has-icons-left has-icons-right">
                        <%= f.text_field :email, class: "input"  %>
                        <span class="icon is-small is-left">
                            <i class="fas fa-envelope"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>
                <div class="field">
                    <%= f.label :password, class: "label" %>
                    <p class="control has-icons-left has-icons-right">
                        <%= f.password_field :password, class: "input" %>
                        <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                        </span>
                        <span class="icon is-small is-right">
                            <i class="fas fa-check"></i>
                        </span>
                    </p>
                </div>

                <div class="field">
                    <p class="control">
                        <%= f.submit "Log In", class: "button is-primary"  %>
                    </p>
                </div>

            <% end %>
            
            <br>

            <p class="buttons is-centered is-spaced">
                <%= link_to "/auth/google_oauth2", class: "button" do %>
                    <span class="icon">
                        <i class="fab fa-google"></i>
                    </span>
                    <span>Log in with Google</span>
                <% end %>
            </p>

        </div>

    </div>

</section>