<section class="section">
    <div class="container">
            <div class="level">
            <div class="level-left">
                <h1 class="title is-1 is-spaced"><%= @stack.title %></h1>
                <p class="subtitle is-4 is-italic">&nbsp;<%= @stack.cards.count %> cards</p>

            </div>
            <div class="level-right buttons">
                <%= button_to stack_path(@stack), method: "delete", class: "button is-secondary" do %>
                    <span class="icon">
                        <i class="fas fa-times-circle"></i>
                    </span>
                    <span>Delete Stack</span>
                <% end %>
                <%= link_to edit_stack_path(@stack), class: "button is-outlined is-primary" do %>
                    <span class="icon">
                        <i class="fas fa-pencil-alt"></i>
                    </span>
                    <span>Edit Stack</span>
                <% end %>

                <%= link_to stack_card_path(@stack, @stack.cards.first), class: "button is-primary" do %>
                    <span class="icon">
                        <i class="fas fa-university"></i>
                    </span>
                    <span>Study</span>
                <% end %>
            </div>
        </div>
        
        <div class="tile is-ancestor"> 
            
            <% @stack.cards.each_with_index do |card, i| %>
                <div class="tile is-parent is-4">
                    <div class="tile is-child box has-text-centered">
                        <p class="title is-4"><%= link_to card.front_content, stack_card_path(@stack, card) %></p>
                    </div>
                </div>

                <% if (i+1) % 3 == 0 %>
                    </div>
                    <div class="tile is-ancestor">
                <% elsif i == @stack.cards.length-1 %>
                    </div>
                <% end %>
            <% end %>

        
        <div class="buttons">
        </div>

    </div>
</section>