<%= form_with(model: @user) do |f| %>

    <div class="field">
        <%= f.label :name, class: "label" %>
        <p class="control has-icons-left has-icons-right">
            <%= f.text_field :name, class: "input" %>
            <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <%= f.label :email, class: "label" %>
        <p class="control has-icons-left has-icons-right">
            <%= f.text_field :email, class: "input"  %>
            <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>
    <div class="field">
        <%= f.label :password, class: "label" %>
        <p class="control has-icons-left has-icons-right">
            <%= f.password_field :password, class: "input" %>
            <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
            </span>
            <span class="icon is-small is-right">
                <i class="fas fa-check"></i>
            </span>
        </p>
    </div>

    <div class="field">
        <p class="control">
            <%= f.submit class: "button is-primary"  %>
        </p>
    </div>

<% end %>