<section class="flipper">
    <label>
        <input type="checkbox"  />

        <div class="flashcard container">

            <!-- front of card -->
            <div class="flashside front">
                <h1 class="title is-1">
                    <%= @card.front_content %>
                </h1>
                <%= image_tag(url_for(@card.front_image)) if @card.front_image.attached? %>

                <div class="buttons is-centered">

                    <%= link_to "Previous", stack_card_path(@card.stack, @card.previous), class: "button" if @card.previous %>
                    <%= link_to "Next", stack_card_path(@card.stack, @card.next), class: "button" if @card.next %>
                </div>

            </div>
            
            <!-- back of card -->
            <div class="flashside back">
                <p class="title is-1">
                    <%= @card.front_content %>
                </p>
                <p class="subtitle is-3">
                    <%= @card.back_content %>
                </p>

                <%= image_tag(url_for(@card.back_image)) if @card.back_image.attached? %>

                <div class="buttons is-centered has-addons">

                    <button class="button is-large is-rounded">
                        <span class="icon is-medium">
                            <i class="far fa-thumbs-down fa-2x"></i>
                        </span>
                    </button>

                    <%= link_to "Skip", stack_card_path(@card.stack, @card.next), class: "button is-large" if @card.next %>

                    <button class="button is-large is-rounded">
                        <span class="icon is-medium">
                            <i class="far fa-thumbs-up fa-2x"></i>
                        </span>
                    </button>


                </div>  

            </div>
        </div>
    </label>
</section>