<!DOCTYPE html>
<html>
  <head>
    <title>CardTrick</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png'), :rel => 'icon', :type =>  'image/png' %>
    <script src="https://kit.fontawesome.com/0922dbf787.js" crossorigin="anonymous"></script>

    <link rel="manifest" href="/site.webmanifest">
  </head>

  <body>

    <%= render "layouts/nav" %>

    <%= yield %>

    <%= render "layouts/footer" %>

  </body>
</html>
